/* ------------------------------------
Fonts
----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ------------------------------------
Variables
----------------------------*/

/*
--text: #ebe9fc;
--background: #010104;
--primary: #6412d7;
--secondary: #1d0243;
--accent: #42029b;
*/
/*
Jeg er Filip, 19, som trivest godt med diverse arbeid, men er for tiden heltidsstudent. Jeg har tidligere jobbet i svært forskjellige arbeidsmiljø og har dermed lært å tilpasse meg varierte arbeidsforhold. Utfordinger er noe jeg trives godt med, og jeg takker sjeldent nei til å bli presset litt. Fremover ønsker jeg å studere ingeniørfag, men er åpen for å jobbe helgevakter. Ta gjerne kontakt!
*/


:root {
	--main-color: #005f73;
	--blue: #3498db;
    --white: #ffffff;
    --dark-aqua: #11806a;
    --red: #e74c3c;
    --green: #27ae60;
    --yellow: #f1c40f;
    --purple: #9b59b6;
    --orange: #f39c12;
    --pink: #e91e63;
    --cyan: #00bcd4;
    --light-blue: #03a9f4;
    --light-green: #8bc34a;
    --dark-purple: #673ab7;
	--dark-blue: #001219;
    --indigo: #3f51b5;
    --teal: #009688;
    --lime: #cddc39;
    --brown: #795548;
    --amber: #ffc107;
    --blue-grey: #607d8b;
    --deep-orange: #ff5722;
    --deep-purple: #9c27b0;
	--gray-white: #f1f1f1;
	--dark-aqua: #015e75;
	--green-yellow: #cddc39;
	--black: #010104;
	--dark-purple: #1d0243;
	--white: #ffffff;
	--white-alpha-40: rgba(255, 255, 255, 0.25);
	--white-alpha-25: rgba(255, 255, 255, 0.10);
	--webkit-backdrop-filter: blur(5px);
}


/* ------------------------------------
Global Settings
----------------------------*/

